/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

.p_relative {
    position: relative;
}
.p_fixed {
    position: fixed;
}

.flex_container {
    display: flex;
}
.flex_container.vertical_centering {
    align-items: center;
}

.list_block {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list_block li a {
    text-decoration: none;
    transition: color .2s;
}

.uppercase {
    text-transform: uppercase;
}

.color_white {
    color: #ffffff;
}

/* HEADER */
header {
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 170px;
    height: calc(100vh - 70px);
    padding: 1px;
    background-color: #000000;
}

#navigation .list_block li {
    padding-left: 12px;
    margin: 7px 0;
}
#navigation .list_block li a img:not(#logo_spotify) {
    filter: invert(50%);
}
#navigation .list_block li a:hover img:not(#logo_spotify) {
    filter: invert(0);
}
#navigation .list_block li a {
    font-size: 12px;
    color: #707070;
}
#navigation .list_block li.active {
    border-left: 3px solid #adff2f;
    color: #ffffff;
}
#navigation .list_block li a:hover:not(.active) {
    color: white;
}

#navigation_top .list_block li:first-child {
    margin-bottom: 15px;
}
#navigation_top #logo_spotify {
    width: 110px;
}
#navigation_top .list_block li img {
    width: 20px;
    margin-right: 4px;
}

#playlist {
    margin-top: 22px;
}
#playlist h4 {
    font-size: 14px;
}
#playlist .fas.fa-plus {
    font-size: 20px;
    padding: 5px;
    margin-right: 7px;
    color: #000000;
    background-color: #a3a3a3;
}
#playlist a:hover .fas.fa-plus {
    background-color: #ffffff;
}

/* MAIN */
main {
    width: calc(100% - 170px);
    height: calc(100vh - 70px);
    padding: 90px 20px 20px 20px;
    margin-left: 170px;
    margin-bottom: 70px;
    background-color: #141922;
    overflow-y: auto;
}
#upgrade {
    top: 0;
    left: 170px;
    width: calc(100% - 170px);
    height: 70px;
    padding: 20px;
    background-color: #000000b3;
}

/* FOOTER */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #282828;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    


}

@media screen and (max-width: 992px) {
    


}

@media screen and (max-width: 768px) {
    
    /* COMMONS */
    header {
        width: 55px;
    }
    main {
        width: calc(100% - 55px);
        margin-left: 55px;
    }

    /* MAIN */
    #upgrade {
        left: 55px;
        width: calc(100% - 55px);
    }

}
