/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #707070;
}

.p_relative {
    position: relative;
}
.p_fixed {
    position: fixed;
}

.flex_container {
    display: flex;
}
.flex_container.vertical_centering {
    align-items: center;
}

.list_inline {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list_inline li {
    display: inline-block;
}
.list_inline li a {
    text-decoration: none;
    transition: color .2s;
}
.list_block {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list_block li a {
    text-decoration: none;
    transition: color .2s;
}

button {
    border: unset;
    color: unset;
    background-color: unset;
    cursor: pointer;
}
.button_black {
    font-size: 12px;
    padding: 12px 40px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
    transition: transform .2s;
}
.button_black:hover {
    transform: scale(1.1);
}

.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: 800;
}

.color_white {
    color: #ffffff;
}

/* HEADER */
header {
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 170px;
    height: calc(100vh - 70px);
    padding: 1px 15px 1px 1px;
    background-color: #000000;
}
header .list_block li {
    line-height: 30px;
    padding-left: 12px;
    margin: 5px 0;
}
header .list_block li a {
    font-size: 13px;
    color: #707070;
}
header .list_block li a:hover {
    color: #ffffff;
}
header .list_block li.active {
    border-left: 3px solid #adff2f;
    color: #ffffff;
}
header .list_block li.active a {
    color: #ffffff;
}
header .list_block li.active img {
    filter: invert(0);
}
header .list_block li.active a img:not(#img_logo_spotify, #img_logo_spotify_2) {
    filter: invert(0);
}
header .list_block li a img:not(#img_logo_spotify, #img_logo_spotify_2) {
    filter: invert(50%);
    transition: filter .2s;
}
header .list_block li a:hover img:not(#img_logo_spotify, #img_logo_spotify_2) {
    filter: invert(0);
}

#navigation_top .list_block li:first-child {
    margin-bottom: 15px;
}
#navigation_top #img_logo_spotify {
    width: 110px;
}
#navigation_top #img_logo_spotify_2 {
    display: none;
}
#navigation_top .list_block li img {
    width: 23px;
    margin-right: 4px;
}

#playlist {
    margin-top: 22px;
}
#playlist h4 {
    font-size: 15px;
}
#playlist > .list_block > li:nth-child(2) a {
    font-size: 15px;
}
#playlist .fas.fa-plus {
    font-size: 23px;
    padding: 5px;
    margin-right: 7px;
    color: #000000;
    background-color: #a3a3a3;
    transition: background-color .2s;
}
#playlist a:hover .fas.fa-plus {
    background-color: #ffffff;
}
#scroll {
    height: 35vh;
    overflow-y: auto;
}

#profile {
    background-color: #000000;
}
#profile .list_block li:first-child a {
    padding-bottom: 7px;
    border-bottom: 2px solid #282828;
}
#profile .list_block li img {
    margin-right: 7px;
}
#profile #img_profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #707070;
}
#profile #img_download {
    width: 15px;
}
#profile .list_block li div {
    font-size: 14px;
}

/* MAIN */
main {
    width: calc(100% - 170px);
    height: calc(100vh - 70px);
    padding: 90px 20px 20px 20px;
    margin-left: 170px;
    margin-bottom: 70px;
    background-color: #141922;
    overflow-y: auto;
}
#upgrade {
    justify-content: flex-end;
    align-items: center;
    top: 0;
    left: 170px;
    width: calc(100% - 170px);
    height: 70px;
    padding: 0 20px;
    background-color: #000000b3;
    overflow-x: hidden;
    white-space: nowrap;
}

#principal_section nav {
    text-align: center;
}
#principal_section nav .list_inline li {
    margin: 0 12px 35px 12px;
}
#principal_section nav .list_inline li.active::after {
    content: "";
    margin: 0 auto;
    width: 50px;
    height: 2px;
    background-color: #adff2f;
}
#principal_section nav .list_inline li a {
    font-size: 13px;
    color: #707070;
}
#principal_section nav .list_inline li a:hover {
    color: #ffffff;
}

/* FOOTER */
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #282828;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1199px) {
    


}

@media screen and (max-width: 991px) {
    


}

@media screen and (max-width: 767px) {
    
    /* HEADER */
    header {
        align-items: center;
        width: 45px;
        padding: 1px;
    }
    header .list_block li {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
    header .hidden {
        display: none;
    }
    header .list_block li.active {
        border-left: none;
    }
    header .list_block li a img:not(#img_logo_spotify, #img_logo_spotify_2) {
        filter: invert(20%);
    }

    #navigation_top #img_logo_spotify {
        display: none;
    }
    #navigation_top #img_logo_spotify_2 {
        display: inline-block;
    }

    #profile .list_block li:first-child a {
        border-bottom: none;
    }
    #profile .list_block li img {
        margin-right: 0;
    }

    /* MAIN */
    main {
        width: calc(100% - 45px);
        margin-left: 45px;
    }
    #upgrade {
        left: 45px;
        width: calc(100% - 45px);
    }

}

/* VERTICAL SCROLL */
@media screen and (max-height: 635px) {
    
    #scroll {
        height: 34vh;
    }

}
@media screen and (max-height: 625px) {
    
    #scroll {
        height: 32vh;
    }

}
@media screen and (max-height: 610px) {
    
    #scroll {
        height: 30vh;
    }

}
@media screen and (max-height: 605px) {
    
    #scroll {
        height: 28vh;
    }

}
@media screen and (max-height: 570px) {
    
    #scroll {
        height: 26vh;
    }

}
@media screen and (max-height: 555px) {
    
    #scroll {
        height: 24vh;
    }

}
/* /VERTICAL SCROLL */